.Header {
	margin: 0 0 20px 0;
	font-size: 18px;
	background: #363849;
	color: #f8f8f2;
}

.Header .left {
	float: left;
}

.Header .right {
	float: right;
}

.Header a {
	display: inline-block;
	padding: 20px 5px;
}

.Header a:hover {
	text-decoration: underline;
}
